header {
  width: 100%;
  background-color: lightblue;
}

h2 {
  text-align: left;
}

.nav ul li{
  text-align: right;
  color: white;
  list-style-type: none;
  font-size: 40px;
  display: inline;
}

/* ul { 
  flex: wrap;
  text-align: right;
  color: #ffffff;
}

/* List items in navigation bar */
/*li {
  /* TODO: Add your code here */
  /*list-style-type: none;
  font-size: 40px;
  display: inline;
/*} /*display:inline moves our links horizontally in a row

/* Boxes */
img {
  /* TODO: Add your code here */
  display: block; 
  margin: 0 auto;
}/*display:block; moves all images top to bottom */

#item-1 {
  background-color: #e0115f;
}

#item-2 {
  background-color: #0000ff;
}

#item-3 {
  background-color: #999900;
}

/*#image-3 {
  display: block;
} This is cancelled by the CSS class in img {display:block}



